<div class="form-group">
  <div class="col-sm-10">
    <form [formGroup]="myform" (ngSubmit)="submit(myform.value)">
      <div class="form-group">
        <input type="text" name="name" class="form-control"formControlName="name">
        <div *ngIf= "myform.controls['name'].hasError('required')" class= "alert alert-danger"> Name required</div>
        <div *ngIf= "myform.controls['name'].hasError('minlength')" class= "alert alert-danger">
        Min two  letters required
 
       </div>
       <div *ngIf= "myform.controls['name'].hasError('pattern')" class= "alert alert-danger">
        only letters required
   
         </div>
        
      </div>
      <div class="form-group">
        <input type="text" name="lastName" class="form-control" formControlName="lastName" >
        <div *ngIf= "myform.controls['lastName'].hasError('required')" class= "alert alert-danger">
          lastName  required</div>
        <div *ngIf= "myform.controls['lastName'].hasError('minlength')" class= "alert alert-danger">
          Min two  letters required
   
         </div>
         <div *ngIf= "myform.controls['lastName'].hasError('pattern')" class= "alert alert-danger">
            only letters required
       
             </div>
      </div>
      <div class="form-group">
        <input type="text" name="age" class="form-control" formControlName="age" >
        <div *ngIf= "myform.controls['age'].hasError('required')" class= "alert alert-danger"> 
          age required</div>
          <div *ngIf= "myform.controls['age'].hasError('pattern')" class= "alert alert-danger"> 
             only numbers required</div>
      </div>
      <div class="form-group">
          <input type="text" name="Number" class="form-control" formControlName="Number" >
          <div *ngIf= "myform.controls['Number'].hasError('pattern')" class= "alert alert-danger"> 
              only numbers required and accepts  up to 3 digitd</div>
              

      </div>
      
  
      <div class="form-group">
        <select class="txt-box" name="gender"  formControlName="genderType" class="form-control" >
          <option [value]="genderType" [disabled]="true">Select Option </option>
            <option *ngFor="let genderType of genderArray" [ngValue]="genderType.value">
            {{genderType.value}}
            </option>
      </select>
      <div *ngIf= "myform.controls['genderType'].hasError('required')" class= "alert alert-danger"> Name required</div>
      
      </div>
      <button type="submit" class="btn btn-primary" [disabled]= "myform.invalid">Submit</button>
    </form>

    <hr/>
    <div *ngIf="arrayList.length > 0">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>LastName</th>
              <th>Age</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayList">
              <td>{{item.name}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.age}}</td>
              <td>{{item.Number}}</td>
              <td>{{item.genderType}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>